# игнорировать виртуальное окружение
venv/

# игнорировать временные файлы Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# игнорировать Jupyter checkpoints, если работаешь с тетрадями
.ipynb_checkpoints/

# игнорировать файл зависимостей, если ты его не контролируешь вручную
Pipfile.lock

# системные файлы
.DS_Store
.env
